$main-color:#e84393;
$main-color-alt: rgba($main-color, 60%);

$main-text-color: rgb(31, 30, 30);
$main-text-color-alt: #999;

$section-bg-color: #eeeeee;
$main-transition: 0.3s;
$main-transition-alt: 0.5s;

$color-box-shadow: rgb(0 0 0 / 15%);
$font-size: 20px;
$font-size-p: 13px;

$line-height: 1.8;

$border-radius: 5px;
