.main {
  .aboutUs {
    .title {
      @include flex-center;
      #section-title {
        @extend %section-title;
      }
    }
    @extend %padding-sections;
    .content {
      @include flex-between;
      height: 300px;
      .box {
        margin-top: 20px;
        height: 500px;
        height: 85%;

        padding: 10px;
        width: 45%;
        position: relative;
        h4 {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-color: white;
          width: 100%;
          @include flex-center;
          padding: 10px;
          font-weight: bold;
          font-size: 30px;
        }
        h3 {
          font-size: 35px;
        }
        .video {
          width: 100%;
          height: 100%;
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius;
            overflow: hidden;
          }
        }

        p {
          font-size: $font-size-p;
          color: $main-text-color-alt;
          line-height: $line-height;
        }
        #p {
          margin-top: 20px;
        }
        .btn {
          width: 100px;
        }
      }
    }
  }
  .services {
    padding: 50px 0;
    background-color: $section-bg-color;
    .container {
      @include gird-system(211px, 20px);
      .box {
        box-shadow: 0 8px 24px $color-box-shadow;
        padding: 10px;
        font-size: 14px;
        text-align: center;
        line-height: $line-height;
        border-radius: $border-radius;
        overflow: hidden;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          right: 100%;
          bottom: 0;
          width: 0%;
          height: 0;
          background-color: rgba($main-color-alt, 30%);
          transition: $main-transition;
        }
        &:hover::after {
          height: 100%;
          right: 0;
          width: 100%;
        }
        &::before {
          position: absolute;
          content: "";
          left: 100%;
          top: 0;
          width: 0%;
          height: 0;
          background-color: rgba($main-color-alt, 30%);
          transition: $main-transition;
        }
        &:hover::before {
          height: 100%;
          left: 0;
          width: 100%;
        }
      }
    }
  }
  .latest-pro {
    .title {
      @include flex-center;
      #section-title {
        margin: 20px 0;
        @extend %section-title;
        #box-title {
          display: flex;

          p {
            margin-left: 12px;
          }
        }
      }
    }
    .patest-products {
      @include gird-system(250px, 20px);
      .box {
        position: relative;
        border-radius: $border-radius;
        box-shadow: 0 10px 28px $color-box-shadow;
        padding: 10px;
        height: 200px;
        @include flex-center;
        flex-direction: column;
        overflow: hidden;
        &::before {
          content: attr(data-dis);
          position: absolute;
          left: 5px;
          top: 5px;
          width: 40px;
          height: 30px;
          @include flex-center;
          border-radius: $border-radius;
          font-size: 14px;
          background-color: rgba($main-color-alt, 40%);
        }

        .title {
        }
        img {
          width: 40%;
        }
        .price {
          color: $main-color;
          font-weight: bold;
        }
        .icons {
          position: absolute;
          left: 0;
          bottom: -20%;
          background-color: $main-color;
          width: 100%;
          height: 20%;
          @include flex-between;
          justify-content: space-around;
          transition: $main-transition;
          a {
            @include flex-center;
            color: white;
          }
          a:nth-child(2) {
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &:hover {
          .icons {
            bottom: 0;
          }
          .title,
          img,
          &::before,
          .price {
            transition: $main-transition;
            opacity: 0.3;
          }
        }
      }
    }
  }
  .review {
    .title {
      @include flex-center;
      #section-title {
        margin: 20px 0;
        @extend %section-title;
        #box-title {
          display: flex;

          p {
            margin-left: 12px;
          }
        }
      }
    }
    .container {
      @include gird-system(calc(360px), 20px);

      .box {
        padding: 20px;
        border-radius: $border-radius;
        box-shadow: 0 8px 24px $color-box-shadow;
        position: relative;
        .stars {
          font-size: 22px;
          i {
            color: $main-color;
          }
        }
        p {
          font-size: 17px;
          line-height: 1.9;
          margin: 10px 0;
        }
        .user {
          @include flex-between;
          // justify-content: space-around;
          .img {
            width: 75px;
            height: 75px;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            width: 70%;
            h3 {
              font-size: 28px;
            }
            small {
              font-size: 18px;
            }
          }
        }
        .comma {
          position: absolute;
          right: 20px;
          bottom: 45px;
          font-size: 54px;
          color: $section-bg-color;
        }
      }
    }
  }
  .contact {
    .title {
      @include flex-center;
      #section-title {
        margin: 20px 0;
        @extend %section-title;
        #box-title {
          display: flex;

          p {
            margin-left: 12px;
          }
        }
      }
    }
    .container {
      @include flex-center;
      .form {
        @media (max-width: 575px) {
          form {
            width: 100% !important;
          }
        }
        width: 75%;
        border-radius: $border-radius;
        border: 1px solid $color-box-shadow;
        position: relative;
        padding: 20px;
        padding-bottom: 50px;
        .box {
          position: relative;
          margin: 20px 0;
          background-color: white;
          padding-left: 5px;
          padding: 5px;

          input,
          textarea {
            border-radius: $border-radius;
            border: 1px solid $color-box-shadow;
            width: 100%;
            height: 100%;
            padding: 10px 0;
            background-color: transparent;
            outline: none;
            transition: $main-transition;
            padding: 10px;
            &:hover {
              box-shadow: 0 0 0 transparent;
            }
            &::placeholder {
              font-size: 17px;
            }
            &:focus {
              border-color: $main-color;
            }
          }
          label {
            position: absolute;
            left: 22px;
            top: 10px;
            font-size: 12px;
          }
        }
        #submit {
          position: absolute;
          right: 22px;
          bottom: 10px;
          margin-bottom: 17px;
          padding: 12px 20px;
          @extend %btn;
        }
      }
    }
  }
}
