%padding-sections {
  padding-top: 100px;
  padding-bottom: 100px;
}

%btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 30px;
  background-color: $main-color;
  color: white;
  transition: $main-transition-alt;

  &:hover {
    box-shadow: 0 0 16px $main-color;
  }
}

%btn-out {
  @extend %btn;
  &:hover {
    background-color: #e0c5cc;
    border: 1px solid $main-color;
    color: $main-text-color;
  }
}

%section-title {
  word-spacing: -3px;
  position: relative;
  -webkit-box-reflect: below -16px linear-gradient(transparent, rgb(0, 0, 0, 0.3));
  span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
  }
  &:hover span {
    animation: animate 0.7s ease-in-out;
    animation-delay: calc(0.1s * var(--i));
  }
  #char-color {
    color: $main-color;
  }
}
